@import "_reset.scss";
@import "_header.scss";

main {
  background-color: $main-color;
  padding: 1.5rem 102px 102px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.filters-and-results {
  display: flex;
  justify-content: space-between;
  align-items: end;

  h2 {
    margin-bottom: 1.5rem;
  }
  &.list-is-open {
    align-items: start;
  }
  .filters {
    width: 55%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    div > p {
      font-size: 1rem;
      padding: 1rem;
      margin-bottom: 1.5rem;
      background: #fff;
      border-radius: 11px;
      border: none;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      &.list-is-open {
        border-radius: 11px 11px 0 0;
      }
      i {
        transition: 0.3s ease-in-out;
      }
      &.active {
        margin-bottom: 0;
        i {
          transform: rotate(180deg);
        }
      }
    }
    .searchform-and-list {
      display: none;
      margin-top: -0.5rem;
      background-color: #fff;
      max-height: 385px;
      overflow: scroll;
      border-radius: 0 0 11px 11px;
      form {
        padding: 1rem;
        label {
          position: relative;
          input {
            width: 100%;
            height: 36px;
            border: none;
            border: 1px solid #c6c6c6;
            border-radius: 2px;
            outline: $primary-color;
            padding: 0.5rem;
            font-size: 14px;
            color: #7a7a7a;
          }
          i {
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            cursor: pointer;
            color: $secondary-color;
          }
        }
      }
      li {
        padding: 1rem;
        transition: 0.3s ease-in-out;
        color: #1b1b1b;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
          color: $primary-color;
          background-color: #000;
          border-radius: 50%;
          padding: 0.25rem 0.3rem 0.2rem 0.3rem;
          font-size: 0.6rem;
          display: none;
        }
        &.active {
          background-color: $primary-color;
          margin-bottom: 1rem;
          cursor: default;
          i {
            display: block;
            cursor: pointer;
          }
          &:hover {
            background-color: $primary-color;
          }
        }
        &:hover {
          background-color: lighten($primary-color, 10%);
        }
      }

      &.active {
        display: block;
      }
    }

    .filters-actives {
      li {
        background-color: $primary-color;
        padding: 1rem;
        transition: 0.3s ease-in-out;
        color: #1b1b1b;
        font-size: 14px;
        border-radius: 11px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block: 1rem;
        i {
          cursor: pointer;
        }
      }
    }
  }
}
h2.no-results {
  margin: 4rem auto 0;
  span {
    color: darken($color: $primary-color, $amount: 30);
  }
  &:empty {
    display: none;
  }
}
.cards-zone {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  .card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 860px;
    border-radius: 21px;
    .cover {
      height: 35%;
      position: relative;
      border-radius: 21px 21px 0 0;
      .cooking-time {
        border-radius: 14px;
        background-color: $primary-color;
        padding: 0.5rem 1.3rem;
        position: absolute;
        right: 22px;
        top: 21px;
      }
      img {
        border-radius: 21px 21px 0 0;
      }
    }
    .text-content {
      height: 65%;
      padding: 2rem;
      overflow: hidden;
      background-color: #fff;
      border-radius: 0 0 21px 21px;
      h3 {
        margin-block: 2rem 1rem;
        color: #7a7a7a;
        text-transform: uppercase;
      }
      .recipe-content {
        max-height: 107px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .ingredients-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        h4 {
          color: #1b1b1b;
        }
        p {
          color: #7a7a7a;
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  main {
    padding: 4rem;
  }

  .filters-and-results {
    align-items: start;
    flex-direction: column-reverse;
    .filters {
      width: 100%;
    }
  }
  .cards-zone {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 2rem 1rem;
  }
  header .title-and-searchform {
    form {
      width: 100%;
      label {
        input::placeholder {
          color: transparent;
        }
      }
    }
    h1 {
      font-size: 1.75rem;
      width: 100%;
    }
  }

  .filters-and-results {
    .filters {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      div > p {
        margin-block: 0;
      }
    }
    &.list-is-open {
      .filters {
        div > p {
          margin-block: 2rem 1.5rem;
        }
      }
    }
  }
  .cards-zone {
    grid-template-columns: 1fr;
    .card .text-content {
      padding: 1rem;
    }
  }
}
